/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

:root {
  --hl-comment: #008000;
  --hl-string: #a31515;
  --hl-func: #393a34;
  --hl-symbol: #36acaa;
  --hl-keyword: #0000ff;
  --hl-selector: #00009f;
  --hl-important: #e90;
  --hl-class-name: #2b91af;
  --hl-deleted: #9a050f;
  --hl-tag: #800000;
  --hl-regex: #ff0000;
}

html.dark {
  --hl-comment: #6a9955;
  --hl-string: #ce9178;
  --hl-func: #dcdcaa;
  --hl-symbol: #b5cea8;
  --hl-keyword: #569cd6;
  --hl-selector: #d7ba7d;
  --hl-important: #569cd6;
  --hl-class-name: #4ec9b0;
  --hl-deleted: #ce9178;
  --hl-tag: #569cd6;
  --hl-regex: #d16969;
}

code[class*='language-'],
pre[class*='language-'] {
  /* color: #393a34; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre > code[class*='language-'] {
  font-size: 1em;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: hsl(0, 0%, 50%, 0.2);
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  /* border: 1px solid #dddddd; */
  background-color: var(--bg);
  background-color: var(--bg-darker);
}

/* Inline code */
/* :not(pre) > code[class*='language-'] { */
:not(pre) > code {
  padding: 0.1em 0.3em;
  background: var(--bg-darker);

  /* outline: 3px solid red; */
}
/* Inline code */

.token.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--hl-comment);
  font-style: italic;
}

.token.string {
  color: var(--hl-string);
}

.token.function,
.token.operator {
  color: var(--hl-func);
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: var(--hl-symbol);
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*='language-css'] {
  color: var(--hl-keyword);
}

.token.deleted,
.language-autohotkey .token.tag {
  color: var(--hl-deleted);
}

.token.selector,
.language-autohotkey .token.keyword {
  color: var(--hl-selector);
}

.token.important {
  color: var(--hl-important);
}

.token.class-name,
.language-json .token.property {
  color: var(--hl-class-name);
}

.token.tag,
.token.punctuation,
.token.selector {
  color: var(--hl-tag);
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: var(--hl-regex);
}

.token.directive.tag .tag {
  background: #ffff00;
  color: #393a34;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
/* .line-numbers .line-numbers-rows {
	border-right-color: #a5a5a5;
}

.line-numbers-rows > span:before {
	color: #2b91af;
} */

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
/* .line-highlight {
	background: rgba(193, 222, 241, 0.2);
	background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
} */
