/* https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css */
:root {
	--hl-comment: #396439;
	--hl-class-name: #2b91af;
	--hl-deleted: #2e7286;
	--hl-func: #2816c5;
	--hl-name: #ca3333;
	--hl-punctuation: #393a34;
	--hl-tag: #800000;
	--hl-selector: #7e3838;
	--hl-regex: #ff0000;
}

html.dark {
	--hl-comment: #6a9955;
	--hl-class-name: #4ec9b0;
	--hl-deleted: #ce9178;
	--hl-func: #dcdcaa;
	--hl-name: #9cdcfe;
	--hl-punctuation: #d4d4d4;
	--hl-tag: #569cd6;
	--hl-selector: #d7ba7d;
	--hl-regex: #d16969;
}

pre[class*='language-'],
code[class*='language-'] {
	color: var(--text);
	text-shadow: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-'] *::selection,
code[class*='language-'] *::selection {
	text-shadow: none;
	background: hsla(205, 45%, 63%, 0.2);
}

pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	background: var(--bg-darker);
}

/* :not(pre) > code[class*='language-'] { */
:not(pre) > code {
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	background: var(--bg-darker);
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: 0.7;
}

.token.doctype .token.doctype-tag,
.token.operator.arrow,
.token.boolean,
.token.keyword,
.token.important,
.token.tag,
.token.tag .token.punctuation,
.token.entity,
.token.punctuation.interpolation-punctuation {
	color: var(--hl-tag);
}

.token.doctype .token.name,
.token.attr-name,
.token.atrule .token.url,
.token.constant,
.token.console,
.token.parameter,
.token.interpolation,
.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
	color: var(--hl-name);
}

.token.comment,
.token.prolog {
	color: var(--hl-comment);
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation,
.token.operator,
.token.entity,
.token.atrule .token.url .token.punctuation,
.token.attr-value .token.punctuation.attr-equals {
	color: var(--hl-punctuation);
}

/* .token.number,
.token.symbol,
.token.inserted,
.token.unit {
	color: #b5cea8;
} */

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.deleted,
.token.atrule,
.token.attr-value,
.token.attr-value .token.punctuation {
	color: var(--hl-deleted);
}
/* .token.atrule .token.rule,
.token.keyword.module,
.token.keyword.control-flow {
	color: #c586c0;
} */

.token.atrule .token.url .token.function,
.token.function,
.token.function .token.maybe-class-name {
	color: var(--hl-func);
}

.token.regex {
	color: var(--hl-regex);
}

.token.class-name,
.token.maybe-class-name,
.token.namespace {
	color: var(--hl-class-name);
}
.token.selector,
.token.escape {
	color: var(--hl-selector);
}

/* .token.cdata {
	color: #7c6f6f;
} */

.language-css .token.string.url {
	text-decoration: underline;
}

.token.italic {
	font-style: italic;
}

/*********************************************************
* Language Specific
*/

/* pre[class*='language-javascript'],
code[class*='language-javascript'],
pre[class*='language-jsx'],
code[class*='language-jsx'],
pre[class*='language-typescript'],
code[class*='language-typescript'],
pre[class*='language-tsx'],
code[class*='language-tsx'] {
	color: #9cdcfe;
} */

/* pre[class*='language-css'],
code[class*='language-css'] {
	color: #ce9178;
} */

/* pre[class*='language-html'],
code[class*='language-html'] {
	color: #d4d4d4;
} */

/*********************************************************
* Line highlighting
*/
/* pre[data-line] {
	position: relative;
}

pre[class*='language-'] > code[class*='language-'] {
	position: relative;
	z-index: 1;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
} */
