:root {
	font-size: 16px;
	/* font-size: 14px; */

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

	scrollbar-gutter: stable;

	text-rendering: optimizeSpeed;
	line-height: 1;

	color: var(--fg);
	background-color: var(--bg);

	accent-color: var(--fg-alpha);
}

body {
	position: relative;
	line-height: 1.5;
}

p {
	line-height: 1.7;
}

:where(h1, h2, h3, h4, h5) {
	color: var(--fg1);
}

:where(.font2, .serif) {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.mono {
	font-family: 'Courier New', Courier, monospace;
}

:root {
	/* spacing x-axis */
	--sx-s: clamp(1ch, 1.5vw, 1rem);
	--sx-m: clamp(1rem, 3vw, 1.5rem);
	--sx-l: clamp(3rem, 6vw, 6rem);

	--sx-s: clamp(1ch, 1.75vw, 1rem);
	--sx-m: clamp(1.5ch, 3vw, 1.75rem);

	/* spacing y-axis */
	--sy-s: min(0.75rem, 1.5vh);
	--sy-m: min(1.5rem, 3vh);
	--sy-l: min(3rem, 6vh);

	--g-s: clamp(1ch, 1.5vmax, 2ch);
	/* --g-s: clamp(1rem, 3vmax, 1.5rem); */
	--g-m: clamp(1rem, 3vmax, 1.5rem);
	/* --g-m: clamp(1.5rem, 6vmax, 3rem); */
	--g-l: clamp(3rem, 8vmax, 4rem);

	--content-max-width: 50rem; /* ~ 90ch */
}
