.card {
	position: relative;
	overflow: hidden;

	padding: 0.5rem var(--sx-m) 0;
	box-shadow: 0 0 1.2rem -0.4rem var(--fg-alpha);
	border-radius: 0.75rem;

	transition: 300ms ease-in;
	transition-property: background-color, box-shadow;

	background-color: transparent;
}

.card::before {
	position: absolute;
	z-index: -1;
	content: '';
	inset: 0;

	background: linear-gradient(
		100deg,
		var(--bg1) 25%,
		var(--bg) 50%,
		var(--bg1) 50%,
		var(--bg) 75%
	);
}

.card:hover {
	box-shadow: 0 0 1.6rem -0.4rem var(--fg-gamma);
	background-color: var(--bg1);
}

.card a {
	color: var(--fg-alpha);
	text-decoration: none;
}

.card a:hover {
	color: var(--fg-gamma);
}

.card .tags {
	border-top: 1px dotted var(--fg-alpha);
	padding: 1rem 0 1.5rem;

	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
	/* background-color: rgba(240, 248, 255, 0.356); */
}

.card .tags a {
	padding: 0.4rem 1rem;
	border-radius: 1rem 0;

	box-shadow: 3px 3px 1.5rem -1rem inset var(--fg-alpha);
	transition: box-shadow 300ms ease-in;

	background-color: var(--bg);
}

.card:hover .tags a {
	box-shadow: 3px 3px 1.5rem -0.8rem inset var(--fg-gamma);
}
