/* :root { */
/* 	--hue-alpha: 211; */
/* 	--hue-beta: 50; */
/* } */

/* html.dark { */
/* 	--hue-sat-bg: 195, 3%; */
/* 	--bg: hsl(var(--hue-sat-bg), 11%); */
/* } */

body {
	--scrollbar-thumb: var(--fga);
	--scrollbar-thumb: hsl(0 0% 30% / 0.65);
	--scrollbar-thumb-hover: var(--fg-alpha);
	--scrollbar-width: 1ch;
}

/* .dtl { */
/* 	box-shadow: var(--shadow-colored); */
/* } */

.dtl > .body {
	/* padding: 0; */
	padding-inline: var(--sx-s);
	/* padding-inline: var(--sx-m); */
	overflow: hidden;
}
.dtl > summary {
	/* padding-left: calc(var(--sx-s) * 2); */
	padding-left: var(--sx-m);
}

.dtl > summary > .heading {
	font-size: 1.15rem;
	font-weight: bold;
	padding-block: 1.15rem;
}

details.dropdown > .menu {
	/* font-size: 1rem; */
	background-color: var(--bg);
	border: 1px solid var(--__fga, var(--fga));
}

details.dropdown:not(.top) > .menu {
	margin-top: 1ch;
}

.dropdown > .menu > .heading {
	color: var(--fg1);
	margin-inline: calc(1.5 * var(--btn-outline-width));
	padding-block: 1.5ch;
	padding-inline: calc(2 * var(--btn-outline-width));
	font-style: italic;
	width: max-content;
	text-align: center;
}

#modal {
	padding-inline: var(--sx-s);
}

.dropdown > .menu > .heading {
	/* display: grid; */
	width: auto;
}
/* .btn.filled:not(:hover) { */
/* 	border-color: var(--__bg1); */
/* 	background: linear-gradient(to right, var(--__bg), var(--__bg-1)); */
/* } */
/* .btn.filled:hover { */
/* 	border-color: var(--__bg1); */
/* 	background: linear-gradient(to right, var(--__bg1), var(--__bg-1)); */
/* } */
