:root {
	/* CSS HSL */
	--y-in-mn-blue: hsl(213, 36%, 32%);
	--chinese-violet: hsl(276, 16%, 41%);
	--chinese-violet: hsl(276, 95%, 35%);
	--rose-dust: hsl(347, 35%, 55%);
	--candy-pink: hsl(358, 70%, 66%);
	--tumbleweed: hsl(21, 69%, 73%);
	--tumbleweed: hsl(41, 99%, 73%);

	--primary: var(--y-in-mn-blue);
	--secondary: var(--tumbleweed);

	--bg: hsl(0, 0%, 100%);
	--bg-darker: hsl(0, 0%, 94%);

	--text: hsl(0, 0%, 16%);
	--text-accent: var(--y-in-mn-blue);
	--text-hover: var(--chinese-violet);

	--line: hsl(0, 0%, 50%, 0.5);

	--scrollbar-track: transparent;
	--scrollbar-thumb: hsla(0, 0%, 50%, 33%);
	--scrollbar-thumb-hover: var(--y-in-mn-blue);
	--scrollbar-thumb-firefox: hsl(0, 0%, 80%);

	--space-x: clamp(1rem, 5%, 2.5rem);
	--rsx: clamp(1rem, 5%, 2.5rem); /* responsive space x-axis */

	--content-max-width: 50rem; /* ~ 90ch */
}

html.dark {
	--primary: hsl(40, 100%, 75%);
	--primary: hsl(51, 100%, 70%);
	--primary: hsl(276, 100%, 70%);
	--primary: hsl(298, 100%, 70%);
	--secondary: hsl(80, 61%, 75%);

	/* --bg: hsl(210, 8%, 15%);
	--bg-darker: hsl(210, 8%, 12%); */

	--bg: hsl(247, 12%, 15%);
	--bg-darker: hsl(249, 11%, 12%);

	--text: hsl(0, 0%, 94%);
	--text-accent: var(--primary);
	--text-hover: var(--secondary);
	--text-hover: hsl(276, 16%, 70%);
	--text-hover: hsl(200, 100%, 70%);

	--text-hover: hsl(298, 100%, 75%);
	--primary: hsl(200, 100%, 75%);

	/* --scrollbar-thumb: hsla(0, 0%, 50%); */
	--scrollbar-thumb-hover: hsla(0, 0%, 30%);
	--scrollbar-thumb-firefox: gray;
}
